<footer class="footer mt-auto bg-transparent">
	<div class="container">
		<p class="my-2 mb-3 subpixel-antialiased text-right text-white text-opacity-125 ">Gavin Carpenter x LACI</p>
	</div>
</footer>

<!-- <footer class="footer mt-auto bg-transparent">
	<div class="container">
		< <p class="my-2">Capstone</p> -->
	</div>
</footer> -->