<% layout("./layout/boilerplate") %>
<div class="hero flex items-center justify-center rounded-lg">
    <div class="text-white text-center">
        <h1 class="text-5xl">Welcome to the Restaurant Hub</h1>
        <p class="mt-4 text-2xl px-12 w-96"></p>Inside is all of our favorite restaurants. Add some of your favorites
        and
        tell us
        about
        the
        ones you love!
        </p>
    </div>
</div>