<% layout("./layout/boilerplate") %>
<div class="mt-24 md:w-1/4 mx-auto">
    <h1 class="text-center text-4xl font-normal leading-normal mt-5 mb-2 text-white">Register</h1>
    <form action="/register" class="mt-8 needs-validation" method="POST" novalidate>
        <div class="mb-3">
            <label class="form-label text-lg font-light leading-relaxed mt-3 mb-3 text-white" for="username">Username</label>
            <input class="form-control px-2 py-1 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:ring w-full" type="text" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label class="form-label text-lg font-light leading-relaxed mt-3 mb-3 text-white" for="email">Email</label>
            <input class="form-control px-2 py-1 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:ring w-full" type="email" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label class="form-label text-lg font-light leading-relaxed mt-3 mb-3 text-white" for="password">Password</label>
            <input class="form-control px-2 py-1 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:ring w-full" type="password" id="password" name="password" required>
        </div>
        <button class="mt-8 bg-green-400 block w-full rounded py-2 text-xl text-green-100 bg-green-500 text-white mr-20 active:bg-green-600 font-normal uppercase text-base px-10 py-2 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-3 mt-4 ease-linear transition-all duration-150 transform hover:scale-110 hover:bg-green-700 motion-reduce:transform-none">Register</button>
    </form>
</div>